td#name {
  color: blue;
  cursor: pointer;
}

td#name:hover {
  opacity: 0.8;
  text-decoration: underline;
}

header {
  background-color: #09285f;
  color: #fff;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

h4 {
  color: #09285f;
}
